<header class="top_header header_dark">
    <div class="logo_wrapper">
        <a href="/admin">
            <img src="/images/uploads/logo_white.png" alt="CLOCKER">
        </a>
    </div>
    <div class="nav_wrapper">
        <div class="hamburguer_menu mobile_only">
            <i class="fas fa-bars" id="show_hamburguer_menu"></i>
        </div>
        <div class="nav_links_wrapper">
            <div>
                <div class="mobile_menu_close mobile_only">
                    <i class="fas fa-times"></i>
                </div>
                <ul class="nav_links">
                    <li class="nav_link">
                        <a href="/admin">Products</a>
                    </li>
                    <li class="nav_link">
                        <a href="/admin/collections">Collections</a>
                    </li>
                    <li class="nav_link">
                        <a href="/admin/users">users</a>
                    </li>

                    <li class="nav_link mobile_only">
                        <a href="/">Shop</a>
                    </li>
                    <li class="nav_link mobile_only">
                        <a href="/login">Login</a>
                    </li>
                    <li class="nav_link mobile_only">
                        <a href="/signup">Sign Up</a>
                    </li>
                    <li class="nav_link mobile_only">
                        <a href="/logout">Logout</a>
                </ul>
            </div>
        </div>
    </div>
    <div class="header_utils">
        <div class="user-email">
          <p><%= userEmail %></p>
        </div>
        <div class="account_util desktop_only">
            <i class="fas fa-user" id="user_dropdown_toggle"></i>
            <div class="user_dropdown">
                <ul>
                    <li class="nav_link">
                        <a href="/">Shop</a>
                    </li>
                    <li class="nav_link">
                        <a href="/login">Login</a>
                    </li>
                    <li class="nav_link">
                        <a href="/signup">Sign Up</a>
                    </li>
                    <li class="nav_link">
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cart_util">
            <a href="/cart">
                <i class="fas fa-shopping-cart"></i>
                <span class="cart_qty">(<% if (cartQty) { %><%= cartQty %><% } else { %>0<% } %>)</span>
            </a>
        </div>
    </div>
</header>
