<footer>
  <div class="footer-top">
    <ul class="footer-nav">
      <li class="nav_link">
          <a href="/shop">Shop</a>
      </li>
      <li class="nav_link">
          <a href="/orders">Orders</a>
      </li>
      <li class="nav_link">
          <a href="/admin">Admin</a>
      </li>
    </ul>
  </div>
  <div class="footer-bottom text-center">
    <a href="/"><img src="/images/uploads/logo_white.png" alt="Clocker"></a>
    <p>Website built by Daniel Marchan</p>
    <p><a href="mailto:danielmarchan79@gmail.com">danielmarchan79@gmail.com</a></p>
  </div>
</footer>

<script src="/js/main.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>

</html>
