/*
    primary color: #d7b740;
*/
/* GLOBAL */
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
html {
    font-size: 16px;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
main {
    padding: 25px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
a:hover {
    color: #d7b740;
}
.mobile_only {
    display: none;
}
.btn {
    background: #fff;
    color: #000;
    text-decoration: none;
    padding: 15px 25px;
    text-transform: uppercase;
    border: 2px solid #000;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
}
.hero-btn {
    padding: 15px 45px;
}
.btn:hover {
    background: #000;
    color: #fff;
}
h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.5rem;
}
.under-left, .under-center {
    margin-bottom: 50px;
}
.under-left:after {
    content: "";
    display: block;
    height: 2px;
    background: #d7b740;
    margin-top: 10px;
    width: 50px;
}
.under-center:after {
    content: "";
    display: block;
    height: 2px;
    background: #d7b740;
    margin: 0 auto;
    margin-top: 10px;
    width: 50px;
}
.form-control {
    margin-bottom: 15px;
}
.form-control label {
    font-weight: 700;
    margin-bottom: 15px;
    display: block;
}
.form-control input,
.form-control textarea,
.form-control select {
    padding: 15px;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 1rem;
}
.btn.sm-btn {
    padding: 10px 15px;
}
.d-flex {
    display: flex;
}

/* HEADER */
header.top_header {
    display: flex;
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}
.hamburguer_menu {
    display: none;
}
.mobile_menu_close {
    display: none;
}
.user_dropdown {
    display: none;
}
.logo_wrapper {
    display: flex;
    align-items: center;
}
.logo_wrapper img {
    max-width: 200px;
}
ul.nav_links {
    padding: 0;
    list-style: none;
    display: flex;
}
li.nav_link a {
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #000;
}
li.nav_link a:hover {
    color: #d7b740;
}
.nav_wrapper {
    margin-right: auto;
    padding: 0 25px;
}
.header_utils {
    display: flex;
}
.header_utils > div {
    padding: 0 15px;
}
.cart_util a {
    color: #000;
    text-decoration: none;
}
.header_utils i:hover,
.cart_util a:hover {
    color: #d7b740;
}
.account_util {
    position: relative;
}
.account_util i {
    cursor: pointer;
}
.account_util:hover .user_dropdown {
    display: block;
}
.user_dropdown {
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    position: absolute;
    right: 0;
    padding-top: 15px;
    background: #fff;

}
.user_dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.user_dropdown ul li.nav_link {
    margin-bottom: 15px;
}
.top-bar {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

/* HOMEPAGE */
section#hero {
    background-image: url(/images/uploads/herobg.jpg);
    text-align: center;
    padding: 50px 25px;
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#hero .content-box h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
    text-shadow: 0 0 10px rgba(0, 0, 0);
}
#hero .content-box p {
    font-size: 1.5rem;
    text-shadow: 0 0 10px rgba(0, 0, 0);
}
#hero .content-box .btn {
    margin-top: 15px;
}

/* ADMIN */
header.header_dark {
    background: #000;
}
.header_dark .nav_links_wrapper li.nav_link a,
.header_dark .cart_util a,
.header_dark .account_util i,
.header_dark .hamburguer_menu i {
    color: #fff;
}
.header_dark .nav_links_wrapper li.nav_link a:hover {
    color: #d7b740;
}
.item_image img {
    height: 75px;
    width: 75px;
    object-fit: contain;
    margin-right: 15px;
}
.item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    align-items: center;
}
.item_header h2 {
    font-weight: 300;
    margin: 0;
}
.product-item .item_header {
    max-width: 500px;
    width: 100%;
}
.list {
    margin-top: 25px;
}
.list > a {
    color: #000;
    text-decoration: none;
}
.item_content {
    padding: 0 15px;
}
.image-selector img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.image-selector input {
    border: none;
}
.image-selector {
    border: 1px solid #ddd;
    padding: 15px;
    align-items: center;
}
.image-selector .d-flex {
    align-items: center;
}
.user-message.user-message--error {
    background: #8F1212;
    color: white;
    padding: 10px;
    margin-bottom: 25px;
}
.item a {
    color: #000;
    text-decoration: none;
}

/* RESPONSIVENESS */
/* MIN WIDTH */

/* MAX WIDTH */
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
    .mobile_only {
        display: initial;
    }
    .desktop_only {
        display: none;
    }
    .header_utils {
        order: 1;
    }
    .hamburguer_menu {
        font-size: 1.25rem;
    }
    .nav_wrapper {
        order: 2;
        margin: 0 0 0 auto;
        padding: 0;
    }
    .nav_links_wrapper {
        display: none;
        height: 0;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .nav_links_wrapper[mobile-show="true"] {
        display: block;
    }
    .nav_links_wrapper[mobile-show="false"] {
        display: none;
    }
    .nav_links_wrapper > div {
        background: rgba(255, 255, 255, 0.95);
        padding: 50px 25px;
        height: 100vh;
    }
    .mobile_menu_close {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
    }
    ul.nav_links {
        flex-direction: column;
        text-align: center;
        padding: 15px 0;
    }
    li.nav_link a {
        display: block;
        margin-bottom: 25px;
        font-size: 1.25rem;
    }
    .logo_wrapper img {
        max-width: 125px;
    }
    .header_dark .nav_links_wrapper li.nav_link a {
        color: #000;
    }
    section#hero {
        background-position-x: -55px;
    }
    .item_image img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }
    .btn.sm-btn {
        font-size: .75rem;
        padding: 10px;
    }
}
@media (max-width: 576px) {

}
