/*
primary color: #d7b740;
*/
/* GLOBAL */
html {
    font-size: 16px;
}
body {
    margin: 0;
    height: 5000px;
    font-family: 'Lato', sans-serif;
}
main {
    padding: 25px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
.mobile_only {
    display: none;
}

/* HEADER */
header.top_header {
    display: flex;
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}
.hamburguer_menu {
    display: none;
}
.mobile_menu_close {
    display: none;
}
.user_dropdown {
    display: none;
}
.logo_wrapper {
    display: flex;
    align-items: center;
}
.logo_wrapper img {
    max-width: 200px;
}
ul.nav_links {
    padding: 0;
    list-style: none;
    display: flex;
}
li.nav_link a {
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #000;
}
li.nav_link a:hover {
    color: #d7b740;
}
.nav_wrapper {
    margin-right: auto;
    padding: 0 25px;
}
.header_utils {
    display: flex;
}
.header_utils > div {
    padding: 0 15px;
}
.cart_util a {
    color: #000;
    text-decoration: none;
}
.header_utils i:hover,
.cart_util a:hover {
    color: #d7b740;
}
.account_util {
    position: relative;
}
.account_util i {
    cursor: pointer;
}
.account_util:hover .user_dropdown {
    display: block;
}
.user_dropdown {
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    position: absolute;
    right: 0;
    padding-top: 15px;
    background: #fff;

}
.user_dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.user_dropdown ul li.nav_link {
    margin-bottom: 15px;
}


/* RESPONSIVENESS */
/* MIN WIDTH */

/* MAX WIDTH */
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
    .mobile_only {
        display: initial;
    }
    .desktop_only {
        display: none;
    }
    .header_utils {
        order: 1;
    }
    .hamburguer_menu {
        font-size: 1.25rem;
    }
    .nav_wrapper {
        order: 2;
        margin: 0 0 0 auto;
    }
    .nav_links_wrapper {
        display: none;
        height: 0;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .nav_links_wrapper[mobile-show="true"] {
        display: block;
    }
    .nav_links_wrapper[mobile-show="false"] {
        display: none;
    }
    .nav_links_wrapper > div {
        background: rgba(255, 255, 255, 0.85);
        padding: 50px 25px;
    }
    .mobile_menu_close {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
    }
    ul.nav_links {
        flex-direction: column;
        text-align: center;
        padding: 15px 0;
    }
    li.nav_link a {
        display: block;
        margin-bottom: 25px;
        font-size: 1.25rem;
    }
    .logo_wrapper img {
        max-width: 125px;
    }
}
@media (max-width: 576px) {

}
