<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <section id="hero">
        <div
            class="content-box"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-easing="ease"
        >
            <h2>Elevate your style</h2>
            <p>Exceptionally Crafted Watches. Fairly Priced.</p>
            <a href="/shop" class="btn hero-btn">Shop Now</a>
        </div>
    </section>

    <!-- <section id="best-sellers">
        <h2 class="heading under-center">Best Sellers</h2>
        <div class="">

        </div>
    </section> -->
<%- include('../includes/end.ejs') %>
