<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <section id="hero">
        <div
            class="content-box"
            data-aos="fade-up"
            data-aos-duration="750"
            data-aos-easing="ease"
        >
            <h2>Elevate your style</h2>
            <p>Exceptionally Crafted Watches. Fairly Priced.</p>
            <a href="/shop" class="btn hero-btn">Shop Now</a>
        </div>
    </section>

    <section id="about" class="text-center">
      <div class="container small-container">
        <h3 class="heading under-center">EXPLORE THE COLLECTIONS</h3>
        <p>Obsessively designed to make a bold statement, our goal is to create watches that can match your hustle. These are not your cookie-cutter minimalist designs. Every collection has a distinct look and quality you can feel. Welcome to Clocker.</p>
      </div>
    </section>

    <section id="featured-collections">
      <div class="container">
        <div
          data-aos="fade-down"
          data-aos-duration="750"
          data-aos-easing="ease"
          data-aos-once="true"
          class="collection-grid">
          <div class="ft-collection all">
            <a href="/shop/all" class="collection-overlay">
              <p>Shop</p>
              <h3>All</h3>
            </a>
          </div>
          <div
            data-aos="fade-down"
            data-aos-duration="750"
            data-aos-easing="ease"
            data-aos-once="true"
            class="ft-collection men">
            <a href="/shop/men" class="collection-overlay">
              <p>Shop</p>
              <h3>Men</h3>
            </a>
          </div>
          <div
            data-aos="fade-down"
            data-aos-duration="750"
            data-aos-easing="ease"
            data-aos-once="true"
            class="ft-collection women">
            <a href="/shop/women" class="collection-overlay">
              <p>Shop</p>
              <h3>Women</h3>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="reviews">
      <div class="container">
        <h3 class="heading under-center text-center">Reviews</h3>
        <div class="reviews-row">
          <div class="review">
            <div class="review-wrapper">
              <img src="/images/uploads/review1.png" alt="review1">
              <p>"My husband loves his watch, he's getting so many compliments everywhere."</p>
              <p>Meredith J.</p>
            </div>
          </div>
          <div class="review">
            <div class="review-wrapper">
              <img src="/images/uploads/review2.png" alt="review2">
              <p>"I wore it to work the first day I got it and received so many compliments."</p>
              <p>Jonathan M.</p>
            </div>
          </div>
          <div class="review">
            <div class="review-wrapper">
              <img src="/images/uploads/review2.png" alt="review2">
              <p>"Great quality. Superb look. Outstanding customer service. Unmatched company vision."</p>
              <p>Drake M.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

<%- include('../includes/end.ejs') %>
